.modal-header
  .modal-title {{isInNewState ? '新增' : '编辑'}}
nz-tabset.mb-lg((nzSelectedIndexChange)="selectStyleIndex($event)",
  [nzSelectedIndex]="styleIndex")
  nz-tab(nzTitle="普通两栏式")
    | 适合标题比较规整, 在四个字左右的表单
  nz-tab(nzTitle="两栏上下式")
    | 适合标题比较长,需要提供附加说明的表单, 附加说明推荐使用 optionalHelp 或 optional , 尽量不要使用 description
  nz-tab(nzTitle="居中式")
    | 适合输入控件高度不一致,有特殊要求的表单
//- 显示 loading ...
nz-spin.modal-spin(*ngIf!="!data || styleChanging")
//- mode 是对样式的一些调整, 表单一般都用 edit ,见动态表单文档常见问题\
//- , mode="default"
sf(*ngIf!="data && (!styleChanging)", #sf="",
  [schema]="schema", [ui]="ui", [formData]="data",
  button="none",
  [layout]="sfLayout",
  [firstVisual]="false",
  [liveValidate]="true")
  ng-template(sf-template="selectbtn",
    let-me="",
    let-ui="ui",
    let-schema="schema")
    button(nz-button="",nzType="primary",(click)="onImagebtnClick(me,ui,schema)") 选择
  .modal-footer
    button(nz-button="", type="button", (click)="close()") 关闭
    button(nz-button="", type="submit", [nzType]="'primary'",
      (click)="save(sf.value)",[disabled]="!sf.valid",
      [nzLoading]="http.loading") 保存
